
.createpost{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    border: 1px solid gray;
    transform: translate(-50%,-50%);
    background-color: azure;
    z-index: 111111;
    display: flex;
    border-radius: 10px;
}

.inp{
    position: absolute;
    top: 10%;
    left: 30%;
}
.cancel{
    position: absolute;
    top: 60%;
    left: 20%;
    height: 30px;
    width: 60px;
    color: white;
    background-color: red;
    cursor: pointer;
}
.save{
    position: absolute;
    top: 60%;
    right: 20%;
    height: 30px;
    width: 60px;
    color: white;
    background-color: blue;
    cursor: pointer;
}

