.container {
  display: flex;
  top: 0px;
  border-bottom: 1px solid lightgrey;
  position: sticky;
  z-index: 1000000;
  overflow: hidden;
  background-color: white;
}
.app_header {
  background-color: white;
}
.app_headerImage {
  width: 120px;
  padding: 10px;
  margin: 10px 250px;
}

.header_txt {
  margin-top: 15px;
  padding-right: 70px;
  position: relative;
}

.header_txt img {
  width: 25px;
  position: absolute;
  left: 30px;
  top: 10px;
}
.header_txt input {
  width: 300px;
  height: 30px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(199, 193, 193);
  font-size: 15px;
}

.icons {
  display: flex;
}
.icons img {
  height: 30px;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

.badge {
  margin-top: 20px;
}
