.avatar_container {
    border: 1px solid lightgray;
    display: flex;
    width: 36%;
    margin: 40px 350px;
    border-radius: 8px;
    background: white;
  }
  .avatar {
    vertical-align: middle;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 10px;
  }